// .home {
// 	padding: 80px 20px;
//
// 	&__picture {
// 		display: block;
// 		margin: 0 auto 40px;
// 		max-width: 500px;
// 		opacity: 0;
// 		transition: $duration-normal;
//
// 		&[data-loaded="true"] {
// 			opacity: 1;
// 		}
//
// 		&--2 {
// 			margin-top: 40px;
// 			margin-bottom: 0;
// 		}
// 	}
//
// 	&__text {
// 		margin: 0 auto;
// 		max-width: 500px;
// 		font-size: 20px;
// 		line-height: 26px;
//
// 		a {
// 			text-decoration: underline;
//
// 			@include hover {
// 				text-decoration: none;
// 			}
// 		}
//
// 		code {
// 			padding: 5px;
// 			background-color: $color-gray;
// 		}
// 	}
//
// 	@include desktop {
// 		padding: 100px 0;
// 	}
// }
.home {
	padding: 0;

	@include tablet {
		padding: 60px 0 100px;
	}

	.data {
		padding-top: 30px;
		padding-bottom: 32px;
		margin-bottom: 2px;
		position: relative;

		&::after {
			content: '';
			display: block;
			width: 140px;
			height: 130px;
			position: absolute;
			right: 4px;
			bottom: 12px;
			background: url('../images/mark.png') no-repeat center center /contain;
			pointer-events: none;

			@include tablet {
				width: 184px;
				height: 166px;
			}
		}

		&__avatar {
			display: block;
			flex: 0 0 100%;
			margin-bottom: 20px;

			@include tablet {
				flex: 0 0 calc(100% * 2 / 8);
				margin-bottom: 0;
			}
		}

		.avatar {
			width: 100%;
			height: 180px;

			@include tablet {
				width: 138px;
				height: 138px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&__fields {
			flex: 0 0 100%;

			@include tablet {
				flex: 0 0 calc(100% * 6 / 8);
			}

			.field {
				display: block;
				width: 100%;
				position: relative;
				border-bottom: 2px solid $color-black;
				transition: border-color .3s;

				&:not(:last-child) {
					margin-bottom: 34px;
				}

				&._active {
					border-color: $color-red;
					transition: border-color .15s;

					.field__label {
						top: -8px;
						color: $color-red;
						font-size: 9px;
						transition: top .15s, color .15s, font-size .15s;
					}
				}

				&._filled {
					.field__label {
						top: -8px;
						// color: $color-red;
						font-size: 9px;
						transition: top .15s, color .15s, font-size .15s;
					}
				}

				&__label {
					position: absolute;
					top: 0px;
					left: 0px;
					font-family: 'Roboto', sans-serif;
					font-size: 12px;
					line-height: 6px;
					font-weight: 500;
					text-transform: uppercase;
					letter-spacing: 0.1em;
					color: $color-black;
					pointer-events: none;
					transition: top .3s, color .3s, font-size .3s;
				}

				&__input {
					width: 100%;
					height: 18px;
					border: none;
					outline: none;
					font-family: 'Roboto', sans-serif;
					font-size: 14px;
					line-height: 14px;
					font-weight: 500;
					color: $color-black;

					&:focus {
						outline: none;
					}
				}
			}
		}
	}

	.skills {
		padding-top: 32px;
		padding-bottom: 38px;
		margin-bottom: 2px;

		&__title {
			font-family: 'Roboto', sans-serif;
			font-size: 18px;
			line-height: 22px;
			font-weight: 500;
			color: $color-black;
			margin-bottom: 21px;
		}

		&__list {
			display: flex;
			flex-flow: row wrap;
			width: 100%;
			margin-left: -10px;
			margin-right: -10px;
		}

		&__item {
			// flex-direction: column;
			width: 50%;
			padding-left: 10px;
			padding-right: 10px;
			position: relative;

			&:not(:nth-last-of-type(-n+2)) {
				margin-bottom: 40px;
			}

			@include tablet {
				width: calc(100% * 2 / 8);

				&:not(:nth-last-of-type(-n+4)) {
					margin-bottom: 40px;
				}
			}
		}

		&__label {
			display: flex;
			align-items: center;
			font-family: 'Roboto', sans-serif;
			font-size: 12px;
			line-height: 12px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: $color-black;
			cursor: pointer;

			&::before {
				content: '';
				display: inline-block;
				vertical-align: top;
				width: 19px;
				height: 19px;
				margin-right: 7px;
				border-radius: 5px;
				background-color: $color-gray-light;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		&__check {
			visibility: none;
			position: absolute;
			left: -9999px;

			&:checked + .skills__label::before {
				background-color: $color-blue;
				background-image: url('../images/check.png');
			}
		}
	}

	.level {
		padding-top: 58px;
		padding-bottom: 65px;

		&__meter {
			width: 100%;
			align-items: center;
			margin-bottom: 20px;

			@include tablet {
				width: calc(100% * 4 / 8);
				align-items: flex-start;
				margin-bottom: 0;
			}
		}

		&__score {
			width: 100%;
			padding-top: 5px;

			@include tablet {
				width: calc(100% * 3 / 8);
			}
		}

		.meter {
			display: flex;
			justify-content: center;
			width: 254px;
			height: 127px;
			position: relative;

			&__sections {
				width: 100%;
				height: 100%;
				background-image: url('../images/metrik.png');
			}

			&__arrow {
				width: 21px;
				height: 64px;
				background-image: url('../images/arrow.png');
				position: absolute;
				bottom: -6px;
				transform-origin: center 53px;
				transform: rotate(-90deg);
				transition: transform 1s;
			}
		}

		.score {
			&__description {
				font-family: 'Roboto', sans-serif;
				font-size: 18px;
				line-height: 25px;
				font-weight: 500;
				color: $color-black;
				margin-bottom: 27px;
				text-align: center;

				@include tablet {
					text-align: left;
				}
			}

			&__num {
				font-family: 'Roboto', sans-serif;
				font-size: 50px;
				line-height: 22px;
				font-weight: 900;
				letter-spacing: 0.05em;
				color: #0093d7;
				text-align: center;

				@include tablet {
					text-align: left;
				}
			}
		}
	}
}
