-
	const data = {
		//- header: {
		//- 	links: {
		//- 		logo: 'https://ninelines.agency/',
		//- 	},
		//- 	menu: [
		//- 		{
		//- 			url: '#hello',
		//- 			name: 'Ну привет'
		//- 		},
		//- 		{
		//- 			url: '#necessarily',
		//- 			name: 'Обязательно к прочтению'
		//- 		},
		//- 		{
		//- 			url: '#bye',
		//- 			name: 'И пока'
		//- 		}
		//- 	]
		//- },
		//- 
		//- share: {
		//- 	caption: 'Поделиться:',
		//- 	list: ['fb', 'tw', 'vk', 'ok'],
		//- },
		//- 
		//- home: {
		//- 	title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
		//- 	read: 'Читать',
		//- },
		//- 
		//- modal: {
		//- 	close: 'Закрыть',
		//- },
		
		inputs: [
			{
				name: 'name',
				label: 'Имя'
			},
			{
				name: 'born_date',
				label: 'Дата рождения'
			},
			{
				name: 'city',
				label: 'Город'
			},
			{
				name: 'contacts',
				label: 'Контактные данные'
			}
		],
		
		skills: [ 
			{
				title: 'HTML5',
				id: 'html'
			}, 
			{
				title: 'SASS',
				id: 'sass'
			}, 
			{
				title: 'VANILLAJS',
				id: 'vanilla'
			}, 
			{
				title: 'GIT',
				id: 'git'
			}, 
			{
				title: 'CSS3',
				id: 'css'
			}, 
			{
				title: 'LESS',
				id: 'less'
			}, 
			{
				title: 'ANGULAR',
				id: 'angular'
			}, 
			{
				title: 'FOUNDATION',
				id: 'foundation'
			}, 
			{
				title: 'БЭМ',
				id: 'bem'
			}, 
			{
				title: 'GULP',
				id: 'gulp',
			}, 
			{
				title: 'JQUERY',
				id: 'jq'
			}, 
			{
				title: 'BOOTSTRAP',
				id: 'boostrap'
			} 
		],
		
		avatarSrc: `${baseDir}/images/avatar.png`,
		
		skillsText: 'Навыки',
		jsText: 'Мой уровень владения JavaScript'
	};

//- script.
//- 	window.data = {
//- 		home: !{JSON.stringify(data.home)},
//- 	};
