main.home
	//- +lazyPicture({
	//- 	src: `${baseDir}images/mem.jpg`,
	//- 	alt: 'Мемчик',
	//- }).home__picture#hello
	//- 
	//- p.home__text#necessarily
	//- 	| Это стартовый шаблон для верстки!
	//- 	br
	//- 	br
	//- 	| Обязательно посмотри реализацию:
	//- 	br
	//- 	| pug в папке #[code pug/(components|pages)],
	//- 	br
	//- 	| js в папке #[code js/(components|modules|pages)],
	//- 	br
	//- 	| scss в папке #[code scss/(components|pages)]
	//- 	br
	//- 	br
	//- 	| Не используемые части кода/компонентов можно просто отключить (удалять не рекомендуется)
	//- 	br
	//- 	br
	//- 	| Не забывай читать #[a(href="https://github.com/ninelines-team/ninelines-docs" target="_blank") документацию]!
	//- 
	//- //- picture.home__picture.home__picture--2#bye
	//- +lazyPicture({
	//- 	src: `${baseDir}images/mem-2.jpg`,
	//- 	alt: 'Мемчик 2',
	//- }, [
	//- 	{
	//- 		srcset: `${baseDir}images/mem-2.jpg`,
	//- 	}
	//- ]).home__picture.home__picture--2#bye

	form.container
		.block.data
			.col.data__avatar
				.avatar
					img(src=data.avatarSrc)
				
			.col.data__fields
				each input in data.inputs
					.field.j-field
						label.field__label=input.label
						input.field__input(type='text' name=input.name autocomplete='off')
						
		.block.skills
			.col
				p.skills__title=data.skillsText
				.skills__list
					each skill in data.skills
						.skills__item
							input(type='checkbox' id=skill.id).skills__check.j-skill-check
							label.skills__label(for=skill.id)=skill.title
						
		.block.level
			.col.level__meter
				.meter
					.meter__sections
					.meter__arrow.j-meter-arrow
				
			.col.level__score
				p.score__description=data.jsText
				p.score__num.j-level="0"
			
