// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color-black: #333333;
$color-white: #ffffff;
$color-gray: #f0f0f0;
$color-gray-light: #f0f0f0;
$color-blue: #0093d7;
$color-red: #A60000;

// FONTS
// stylelint-disable-next-line
$font-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;

// EASING TRANSITIONS
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

// Settings
$desktop-xl: 1800;
$desktop: 1025;
$laptop: 1440;
$tablet: 768;
$mobile: 320;
$desktop-vh: 750;
